@charset "UTF-8";

/* モバイルファースト共通部分------------------------------------------------ */
html {
    font-size: 100%;
    overflow-x: hidden;
}
body {
  font-family: "fot-tsukuardgothic-std", sans-serif;
  line-height: 1.7;
  color: #333;
  overflow-x: hidden;
}
h2 {
    font-family: "vdl-yotag", sans-serif;
    line-height: 1.7;
    color: #333;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
/* トップへ戻るボタン -------------------- */
.to-top-btn {
  position: fixed;
  right: calc(50% - 200px + 16px);
  bottom: 16px;
  z-index: 5000;
  width: 90px;
}
.to-top-btn img {
  width: 100%;
  height: auto;
  display: block;
}

/* メインメニュー----------------------------------------------------- */
.cover {
    position: relative;
    background-size: cover;
    background-position: center top;
    min-height: 190vh;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 0;
}
.subcover {
    position: relative;
    background-size: contain;
    background-position: center top;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 0;
}
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}
.cover-home {
    background-image: url(../images/MV\ bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.header-rogo {
    display: block;
    margin: 230px auto 0;
    width: 70%;
    max-width: 280px;
    height: auto;
}
/* ハンバーガーメニュー------------------- */
.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 3000;
}
.header img {
    width: 220px;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* ハンバーガーボタン */
.hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 30px;
    margin: 12px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 4000;
}
.hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s;
}
.hamburger span:nth-child(1) { top: 0; }
.hamburger span:nth-child(2) { top: 13px; }
.hamburger span:nth-child(3) { top: 26px; }
/* ✕ に変形 */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}
/* メニュー本体 */
.nav {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;       /* 画面いっぱい */
    background: url("../images/Hamburger\ menu\ bg.png") no-repeat center / cover;
    transition: top 0.4s ease;   /* ぬるっと動く */
    opacity: 0;
    z-index: 2000;
    pointer-events:none;
}
/* openクラスが付いたら表示 */
.nav.open {
    top: 0;   /* 上からスライドしてくる */
    opacity: 1;
    pointer-events:auto;
}
/* メニュー中身 */
.nav ul {
    list-style: none;
    padding: 120px 20px 40px;
    margin: 0;
    text-align: center;
    display:flex;
    flex-direction:column;
    gap:18px; 
}
.nav li {
    margin: 0;
}
.nav li img {
    width: 90%;
    max-width: 320px;
    display: block;
    margin: 0 auto;
}
/* 本文---------------------------------- */
.section-title {
    text-align: center;
    margin-top: 10vw;
}
.section-title-img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}
.section-text {
    margin: 40px auto 0;
    max-width: 70%;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.8;
    color: #333333;
    text-align: center;
}
.info {
    max-width: 480px;
    margin: 40px auto;
    padding: 10px 50px;
}
.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.info-label {
    font-weight: bold;
    color: #555;
}
.info-text {
    color: #333;
    text-align: right;
    max-width: 300px;
    line-height: 1.6;
    font-size: 15px;
    flex-wrap: wrap;
}

/* メニューボタン------------------------- */
.button-list {
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.btn {
    position: relative;
    display: block;
    width: 350px;
    transition: transform 0.2s ease, box-shadow 0.2 ease;
}
.btn-img {
    width: 100%;
    display: block;
}
.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.btn:hover .hover {
    opacity: 1;
}
.btn:hover .normal {
    opacity: 0;
}
/* 差し込み画像------------------------- */
.img {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.stage {
    margin: 50px auto;
}
/* フッダー----------------------------- */
.Instagram {
    text-align: center;
    margin: 50px auto;
}
.Instagramlink {
    width: 130px;
    height: auto;
}
.footer {
    text-align: center;
    margin-top: 50px;
}
.footer-rogo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}
.copyright {
    background-color: #555;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}

/* 雲　装飾（全ページ共通）--------------------------------------------------------------------- */
.cloud-right {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
}
.cloud-left {
    width: 200px;
    height: auto;
    display: block;
    margin-right: auto;
}
.cloud-left-food {
    width: 200px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-top: -45px;
}

/* guide.html------------------------------------------------------------------- */
.cover-guide {
    background-image: url(../images/Header\ cover1.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.Belongings {
    text-align: center;
}
.Belongings-text {
    display: inline-block;
    list-style: disc outside;
    margin: 30px 70px;
    max-width: 70%;
    font-size: 15px;
    line-height: 1.8;
    color: #333333;
    text-align: left;
}
.relax {
    text-align: center;
    margin-bottom: 40px;
}
.relax ul {
    display: inline-block;
    list-style: disc outside;
    margin: 30px 70px;
    margin-bottom: 90px;
    max-width: 70%;
    font-size: 15px;
    line-height: 1.8;
    color: #333333;
    text-align: left;
}
.warning {
    text-align: center;
    margin: 70px auto;
}
.warning-title {
    width: 150px;
    height: auto;
    margin-right: 40px;
}
.warning-text {
    display: inline-block;
    list-style: disc outside;
    margin: 40px 82px;
    max-width: 80%;
    font-size: 15px;
    line-height: 1.8;
    color: #333333;
    text-align: left;
}

/* food.html-------------------------------------------------------------------- */
.cover-food {
    background-image: url(../images/Header\ cover2.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
/* スライドショー----------- */
.slideshow {
    position: relative;
    text-align: center;
    min-height: 420px;
    margin-top: 40px;
}
.slideshow img {
    width: 100%;
    max-width: 300px;
}
.slide-image-wrap {
    position: relative;
}
.arrow {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}
.arrow img {
    width: 32px;
}
.left {
    left: 8px;
}
.right {
    right: 8px;
}
.slide-title {
    margin-top: 10px;
    font-size: 18px;
    background-color: #fff;
    display: inline-block;
    padding: 2px 12px;
}
.slide-text {
    margin: 20px auto;
    max-width: 260px;
    font-size: 16px;
    line-height: 1.6;
}
.slide-bg {
    background-image: url(../images/img-bg-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 130px 20px 50px;
    margin-top: -115px;
}
/* フードメニュー--------------- */
.foodMenu {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 50px;
}
/* 体験ブース------------------- */
.boothMenu {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 50px;
}

/* music.html-------------------------------------------------------------------- */
.cover-music {
    background-image: url(../images/Header\ cover3.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.music {
    text-align: center;
}
.music-text {
    display: inline-block;
    list-style: disc outside;
    margin: 30px 70px;
    max-width: 70%;
    font-size: 15px;
    line-height: 1.8;
    color: #333333;
    text-align: left;
}
.timetable {
    width: 100%;
}

/* access.html-------------------------------------------------------------------- */
.cover-access {
    background-image: url(../images/Header\ cover4.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.accessMenu {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
.contactMenu {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 50px;
}
iframe {
    width: 100%;
    margin-top: 30px;
}
.location-text {
    margin: 40px auto;
    text-align: center;
    margin-bottom: 100px;
}
.email {

    max-width: 90%;
    margin: 30px;
    background-color: #ddd;
    border-radius: 48px;
    padding: 1.5rem 2.5rem 2.5rem;
    margin: 3rem 2rem;
}
.email p {
    margin: 1rem 0 2rem;
}
.align-center {
    text-align: center;
}
.emailbtn {
    width: 60%;
    text-align: center;
    display: inline-block;
    font-size: 1.1rem;
    background-color: #ffbf1f;
    color: #fff;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
}
.emailbtn:hover {
    background-color: darkgoldenrod;
}

/* PC版レイアウト-------------------------------------------------------------------------- */

body {
    margin: 0;
    background: url(../images/pc-bg.png) no-repeat center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.mobile-frame {
    width: 100%;
    max-width: 400px;
    background: #fff;
    min-height: 100vh;
    position: relative;
    overflow-y: auto;
}
.side-left {
    position: fixed;
    top: 25%;
    left: 50px;
    transform: translateY(-50%);
    z-index: 1000;
    width: 300px;
    height: auto;
}
.side-right {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
}
.bg-shootingstar {
    position: absolute;
    top: 10%;
    right: 80px;
    z-index: 1000;
    text-align:center;
    width: 170px;
    height: auto;
}
.pc-bg-menu {
    position: absolute;
    top: 65%;
    right: 60px;
    transform: translateY(-50%);
    z-index: 1000;
    text-align:center;
    width: 300px;
    height: auto;
}
.bg-button-list {
    top: 45%;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: absolute;
    right: 85px;
}
.bg-btn {
    z-index: 2000;
    position: relative;
    display: block;
    width: 250px;
    transition: transform 0.2s ease, box-shadow 0.2 ease;
}
.bg-btn-img {
    width: 100%;
    display: block;
}
.bg-btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.bg-btn:hover .hover {
    opacity: 1;
}
.bg-btn:hover .normal {
    opacity: 0;
}